{
  "swagger": "2.0",
  "info": {
    "title": "Project",
    "description": "This is an project for all my projects. I use a single project system to manage all my sites. Based upon tagging, I then publish each post out to its respective Github Page based repo.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v2"
  },
  "host": "project.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/project/": {
      "get": {
        "summary": "all projects",
        "description": "all projects",
        "operationId": "getProjects",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across project",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "which page of results to show",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "description": "how many to show on page",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "which field to sort by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "project response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/project"
              }
            }
          }
        },
        "tags": [
          "Project"
        ]
      },
      "post": {
        "summary": "add a project post",
        "description": "add a project post",
        "operationId": "addProject",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary of the project",
            "required": false,
            "type": "string"
          },
          {
            "name": "github_repo",
            "in": "query",
            "description": "github repo for the project",
            "required": false,
            "type": "string"
          },
          {
            "name": "subdomain",
            "in": "query",
            "description": "subdomain for the project",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "type of the project",
            "required": false,
            "type": "string"
          },
          {
            "name": "image",
            "in": "query",
            "description": "image for the project",
            "required": false,
            "type": "string"
          },
          {
            "name": "image_width",
            "in": "query",
            "description": "width of the project image",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "project response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/project"
              }
            }
          }
        },
        "tags": [
          "Project"
        ]
      }
    },
    "/project/published/": {
      "get": {
        "summary": "published projects",
        "description": "published projects",
        "operationId": "getPublishedProjects",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "which page of results to show",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "description": "how many to show on page",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "which field to sort by",
            "required": false,
            "type": "string"
          }          
        ],
        "responses": {
          "200": {
            "description": "Project Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/project"
              }
            }
          }
        },
        "tags": [
          "Project"
        ]
      }
    },
    "/project/draft/": {
      "get": {
        "summary": "draft projects",
        "description": "draft projects",
        "operationId": "getDraftProjects",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "which page of results to show",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "description": "how many to show on page",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "which field to sort by",
            "required": false,
            "type": "string"
          }          
        ],
        "responses": {
          "200": {
            "description": "project response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/project"
              }
            }
          }
        },
        "tags": [
          "Project"
        ]
      }
    },
    "/project/{project_id}/": {
      "get": {
        "summary": "Retrieve a project using its slug",
        "description": "Returns the project detail",
        "operationId": "getProject",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "the unique id for project entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the project",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "project response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/project"
              }
            }
          }
        },
        "tags": [
          "Project"
        ]
      },
      "put": {
        "summary": "update project",
        "description": "update project",
        "operationId": "updateProject",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "the unique id for project entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary of the project",
            "required": false,
            "type": "string"
          },
          {
            "name": "github_repo",
            "in": "query",
            "description": "github repo for the project",
            "required": false,
            "type": "string"
          },
          {
            "name": "subdomain",
            "in": "query",
            "description": "subdomain for the project",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "type of the project",
            "required": false,
            "type": "string"
          },
          {
            "name": "image",
            "in": "query",
            "description": "image for the project",
            "required": false,
            "type": "string"
          },
          {
            "name": "image_width",
            "in": "query",
            "description": "width of the project image",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "project response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/project"
              }
            }
          }
        },
        "tags": [
          "Project"
        ]
      },
      "delete": {
        "summary": "delete project",
        "description": "delete project",
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "the unique id for project entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the project",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "project response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/project"
              }
            }
          }
        },
        "tags": [
          "Project"
        ]
      }
    },
    "/project/{project_id}/tags/": {
      "get": {
        "summary": "project tags",
        "description": "project tags",
        "operationId": "getprojectTags",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "id for project",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the project",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Project Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      },
      "post": {
        "summary": "add tag to project",
        "description": "add tag to project",
        "operationId": "addProjectTag",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "id for the project",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Project Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/project/{project_id}/tags/{tag}": {
      "delete": {
        "summary": "delete project tag",
        "description": "delete project tag",
        "operationId": "deleteprojectTag",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "id for the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from project",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Project Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/project/tags/byweek/": {
      "get": {
        "summary": "project tags by week",
        "description": "project tags by week",
        "operationId": "getProjectTagsByWeek",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the project",
            "required": true,
            "type": "string"
          },        
          {
            "name": "week",
            "in": "query",
            "description": "the week to retrieve tags by",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "query",
            "description": "the year to retrieve tags by",
            "required": false,
            "type": "string"
          }          
        ],
        "responses": {
          "200": {
            "description": "Project Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/project"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/project/tags/byweek/{tag}/project/": {
      "get": {
        "summary": "project tags by week projects",
        "description":  "project tags by week projects",
        "operationId": "getProjectTagCProject",
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "description": "the tag to filter by",
            "required": true,
            "type": "string"
          },
          {
            "name": "week",
            "in": "query",
            "description": "the week to filter by, defaults to this week",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Project Tag BLog Responsee",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/project"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/project/byweek/": {
      "get": {
        "summary": "projects by week",
        "description": "projects by week",
        "operationId": "getProjectsByWeek",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the project",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Project Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/project"
              }
            }
          }
        },
        "tags": [
          "Project"
        ]
      }
    }
  },
  "definitions": {
    "project": {
      "properties": {
        "project_id": {
          "description": "unique id of the project",
          "type": "integer",
          "format": "id"
        },
        "title": {
          "description": "ttle for the project",
          "type": "string"
        },
        "summary": {
          "description": "summary of the project",
          "type": "string"
        },
        "github_repo": {
          "description": "github repo for the project",
          "type": "string"
        },
        "subdomain": {
          "description": "subdomain for the project",
          "type": "string"
        },
        "type": {
          "description": "type of the project",
          "type": "integer",
          "format": "id"
        },
        "image": {
          "description": "image for the project",
          "type": "integer",
          "format": "id"
        },
        "image_width": {
          "description": "width of the project image",
          "type": "integer",
          "format": "id"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  }
}