{
  "swagger": "2.0",
  "info": {
    "title": "Project",
    "description": "This is a project api",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "project.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "projectlication/json"
  ],
  "paths": {
    "project/": {
      "get": {
        "summary": "retrieves all projects",
        "description": "pulls all projects, with filter by keyword",
        "operationId": "getProjects",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across project",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "project response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/project"
              }
            }
          }
        },
        "tags": [
          "project",
          "projectging"
        ]
      },
      "post": {
        "summary": "add project",
        "description": "add a new project",
        "operationId": "addProject",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the project",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "project response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/project"
              }
            }
          }
        },
        "tags": [
          "project",
          "projectging"
        ]
      }
    },
    "project/{slug}": {
      "get": {
        "summary": "Retrieve a project using its slug",
        "description": "Returns the project detail",
        "operationId": "getProject",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "slug for the project, notice this is in the path, not a query variable",
            "required": "true",
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "project response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/project"
              }
            }
          }
        },
        "tags": [
          "project",
          "projectging"
        ]
      },
      "put": {
        "summary": "update project",
        "description": "update project",
        "operationId": "updateProject",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the project",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "project response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/project"
              }
            }
          }
        },
        "tags": [
          "project",
          "projectging"
        ]
      },
      "delete": {
        "summary": "delete project",
        "description": "deletes an project",
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the project",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "project response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/project"
              }
            }
          }
        },
        "tags": [
          "project",
          "projectging"
        ]
      }
    }
  },
  "definitions": {
    "project": {
      "properties": {
        "name": {
          "description": "name of the project",
          "type": "string",
          "format": "label"
        },
        "description": {
          "description": "description of the project",
          "type": "string"
        },
        "url": {
          "description": "url for the project",
          "type": "string"
        },
        "tags": {
          "description": "tags for the project",
          "type": "string"
        },
        "slug": {
          "description": "slug for the project",
          "type": "string",
          "format": "id"
        }
      }
    },
    "errorModel": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
